*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 12px;
}
body{
    background: #F2F2F2;
}
.main-container{
    background: #FFFFFF;
    width: 472px;
    border-radius: 15px;
    padding: 60px;
    margin: 0 auto;
    box-sizing: border-box;
}
h1{
    font-family: "Inter", serif;
    font-size: 42px;
    line-height: 50.83px;
    padding-bottom: 42px;
}
.full-name{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    gap: 10px;
}
.full-name input{
    width: 171px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #42506666;
}
.full-name input::placeholder{
    font-size: 14px;
    color: #000000;
}
.location{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}
.location p{
    padding: 10px 0px 6px 0px ;
}
.location select {
    background-image: url('./img/LeftIcon.png'), url('./img/Vector-2.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 16px;
    appearance: none;
    width: 100%;
    padding: 12px;
    border: 1px solid #42506666;
    border-radius: 5px;
    padding-left: 36px;
    cursor: pointer;
}
option{
    margin-left: 36px;
}
.radio-container{
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 32px;
}
.radio-container input{
    width: 20px;
    height: 20px;
}

.radio-container .radio{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 7px;
}
.company-info{
    padding-bottom: 10px;
}
.company-info p{
    font-size: 12px;
    padding-bottom: 6px;
}
.company-info input{
    width: 328px;
    border: 1px solid #42506666;
    border-radius: 5px;
    padding: 12px;
}
.company-info input::placeholder{
    font-size: 16px;
    opacity: 40px;
}
.describe-container{
    padding-bottom: 32px;
}
.describe-container .describe{
    display: flex;
    gap: 4px;
    padding-bottom: 6px;
}
.describe-container .describe img{
    width: 14px;
    height: 14px;
}
.describe-container input{
    width: 328px;
    border: 1px solid #42506666;
    border-radius: 5px;
    padding: 12px 12px 76px 12px;
}
.describe-container input::placeholder{
    font-size: 16px;
    opacity: 40px;
}
.phone-number{
    padding-bottom: 32px;
}
.phone-number p{
    padding-bottom: 6px;
}
.phone-number .reg-numbers{
    display: flex;
    align-items: center;
    width: 328px;
    border: 1px solid #42506666;
    border-radius: 5px;
    padding: 12px;
}
.phone-number .reg-numbers .line{
    width: 1px;
    height: 16px;
    margin: 0 8px;
    background: #D9D9D9;
}
.phone-number .reg-numbers select{
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.phone-number .reg-numbers input{
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
}
.phone-number .reg-numbers input::placeholder{
    font-size: 16px;
    opacity: 40%;
}
.card-info-container{
    padding-bottom: 32px;
}
.card-info-container p {
    padding-bottom: 6px;
}
.card-info-container input {
    width: 328px;
    padding: 12px;
    border: 1px solid #42506666;
    border-radius: 5px;
}
.card-info-container input::placeholder {
    font-size: 14px;
    opacity: 40%;
}
.card-info-container .card-info {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   margin-top: 10px;
}
.card-info-container .card-info input{
    width: 171px;
 }

.checkbox-container{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 14px;
    padding-bottom: 44px;
}
.checkbox-container .checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
.checkbox-container .checkbox input{
    width: 20px;
    height: 20px;
}
button{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #136AF3;
    width: 117px;
    height: 40px;
    padding: 12px 29px 12px 24px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}